// COLOURS
$primary: rgba(32, 96, 191, 1);
$primary-light: rgba(250, 250, 250, 1);
$secondary: rgba(57, 170, 49, 1);
$secondary-light: rgba(57, 170, 49, 1);
$tertiary: rgba(128, 206, 215, 1);
$text-dark: rgba(50, 50, 50, 1);
$text-light: rgba(170, 170, 170, 1);

// FONTS
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$fonts-main: 'Montserrat', Arial, Helvetica, sans-serif;
