body {
  display: flex;
  flex-direction: column;
  background: $primary;
}

.container {
  width: 400px;
  margin: auto;
  flex: 0 1 auto;

  padding: 75px;

  background: $primary-light;
  background-image: url('/img/event_logo.png');
  background-repeat: no-repeat;
  background-position: -20px -20px;
  background-size: 100px;
  color: $text-dark;
  box-shadow: 0 0 10px #333;
  font-family: $fonts-main;

  .container-header {
    display: block;
    margin-bottom: 25px;

    font-size: 2.5em;
    text-align: center;

    .title-accent {
      font-size: 0.7em;
      color: $text-light;
    }
  }

  .container-body {
    .button {
      position: relative;
      width: 100%;
      padding: 10px;
      z-index: 1;
      box-sizing: border-box;;

      background: none;
      color: $secondary;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      border: 1px solid $secondary;
      transition: color .2s ease;

      &::after {
        content: '';
        display: inline-block;

        position: absolute;
        top: 0;
        right: calc(100% + 10px);
        bottom: 0;
        left: -10px;
        z-index: -1;

        background: $secondary;
        transform: skewX(10deg);
        transition: right .2s ease;
      }

      &:hover {
        color: white;

        &::after {
          right: -5px;
        }
      }
    }
  }
}
