// COLOURS
$primary:         #2160bf;
$primary-light:   #fafafa;
$secondary:       #A8D166;
$secondary-light: #b4e06d;
$tertiary:        #80ced7;
$text-dark:       #323232;
$text-light:      #aaaaaa;

// FONTS
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$fonts-main: 'Montserrat', Arial, Helvetica, sans-serif;
